RuntimeHelpers.xcodeproj/xcuserdata/*.xcuserdatad/xcschemes
RuntimeHelpers.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad
RuntimeHelpers.xcodeproj/project.xcworkspace/contents.xcworkspacedata
RuntimeHelpers.xcodeproj/project.xcworkspace/xcshareddata/RuntimeHelpers.xccheckout
